APP__APP_HOST=0.0.0.0
APP__APP_PORT=8888

DB__DB_HOST=db
DB__DATABASE=db
DB__DB_USER=db
DB__DB_PASSWORD=db
DB__DB_PORT=5555
DB_TAG=test

POSTGRES_HOST=0.0.0.0
POSTGRES_DB=db
POSTGRES_USER=db
POSTGRES_PASSWORD=db
POSTGRES_PORT=5555

NGINX_TAG=1.19.3


ADMIN__LOGIN=test
ADMIN__PASSWORD=test
ADMIN__SECRET_KEY=test
ADMIN__ALGORITM=test
ADMIN__TOKEN_EXPIRE=test
ADMIN__DELIMETR=test


CERTBOT_EMAIL=test@test.ru